@import '../../sass/variables';

.button {
  border-style: solid;
  border-radius: 2px;
  border-width: 3.5px;
  border-color: $color-primary;
  display: inline-block;
  padding: .3rem .7rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    cursor: pointer;
  }
}

.indicator {
  margin: 0 1.6rem;
  font-size: 2.5rem;
}
